.card {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, .05);
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  
  .card-title {
    font-size: .875rem;
    color: #495057;
  }
  
  .card-title-total-graph {
    font-size: 25px;
    color: #495057;
    text-align: center;
  }
  
  .card-body h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
  }
  
  
  .text-gray-800 {
    color: #5a5c69 !important;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
  }
  
  .shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
  }
  
  
  .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  
  
  .font-16 {
    font-size: 16px;
  }

  .card-stats {
    grid-area: stats; 
  }
  
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    /* background: #fd625e; */ 
  }
  
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }

  .vl {
    border: solid black;
    /* opacity: 0.7; */
    margin-right: 0px;
  }